<p id="notice"><%= notice %></p>

<p>
  <strong>Numero sala:</strong>
  <%= @hospital_ward.numero_sala %>
</p>

<%= link_to 'Edit', edit_hospital_ward_path(@hospital_ward) %> |
<%= link_to 'Back', hospital_wards_path %>
