<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre estado:</strong>
  <%= @surgery_state.nombre_estado %>
</p>

<%= link_to 'Edit', edit_surgery_state_path(@surgery_state) %> |
<%= link_to 'Back', surgery_states_path %>
