<p id="notice"><%= notice %></p>

<p>
  <strong>Es valido:</strong>
  <%= @medical_team.es_valido %>
</p>

<%= link_to 'Edit', edit_medical_team_path(@medical_team) %> |
<%= link_to 'Back', medical_teams_path %>
