<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre stado:</strong>
  <%= @receipt_state.nombre_stado %>
</p>

<%= link_to 'Edit', edit_receipt_state_path(@receipt_state) %> |
<%= link_to 'Back', receipt_states_path %>
