<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre clasificacion:</strong>
  <%= @article_clasification.nombre_clasificacion %>
</p>

<%= link_to 'Edit', edit_article_clasification_path(@article_clasification) %> |
<%= link_to 'Back', article_clasifications_path %>
