<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre cirugia:</strong>
  <%= @surgery_type.nombre_cirugia %>
</p>

<%= link_to 'Edit', edit_surgery_type_path(@surgery_type) %> |
<%= link_to 'Back', surgery_types_path %>
